html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Sym;
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
  /*  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
  /*overflow: hidden;*/
  background-color: #fafafa;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  /*font: inherit;*/
  vertical-align: baseline;
}

input, button, submit {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

/*button:hover {*/
/*  background: transparent;*/
/*  box-shadow: 0px 0px 0px transparent;*/
/*  border: 0px solid transparent;*/
/*  text-shadow: 0px 0px 0px transparent;*/
/*}*/

/*button:active {*/
/*  outline: none;*/
/*  border: none;*/
/*}*/

/*button:focus {*/
/*  outline: 0;*/
/*}*/


.imageAvatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.label {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

.open {
  cursor: pointer;
}
.open:hover {
  text-decoration: underline;
}

.info {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link {
  color: #00376b;
  text-decoration: none;
  cursor: pointer;
}
.bold {
  font-weight: 600;
}
.small {
  font-size: 10px;
}
.grey {
  color: #8e8e8e;
}
