.searchResultItemContainer {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.searchResultItemContainer:hover {
    background: #fafafa;
}

.searchResultItem_content {
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0 0 auto;
}

.searchResultItem_image {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.0975);
    flex-shrink: 0;
    margin-right: 12px;
    text-align: center;

}

.searchResultItem_image > img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.searchResultItem_image > svg {
    transform: translate(0%,25%);
}

.searchResultItem_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 auto;

}

.searchResultItem_name {
    display: inline!important;
    margin: 0!important;
    color: #262626;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}

.searchResultItem_verified {
    margin-left: 5px;
    display: inline-flex;
}

.searchResultItem_description {
    /*margin-top: 8px;*/
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #8e8e8e;
}