.feedItemActionsContainer {
    padding-top: 4px;
    padding-bottom: 4px;
    border-top: 1px solid #efefef;
}

/*.itemButtonGroup {*/
/*    display: flex;*/
/*    padding: 0 0.5rem 0 0.5rem;*/
/*    align-items: stretch;*/
/*    flex-direction: row;*/
/*}*/

/*.itemButtonGroup > svg {*/
/*    margin: 0.5rem;*/
/*    cursor: pointer;*/
/*}*/

/*.lastChild {*/
/*    margin-left: auto;*/
/*}*/

.infoGroup {
    margin-left: 1rem;
}