.iconBackground {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 0;
    height: 28px;
    width: 28px;
    margin: 0 16px 16px 0;
    background-color: #262626;
    border-radius: 50%;
    cursor: pointer;
}