.container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.container:hover {
    background: #fafafa;
}

.flexContainer {
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 0 0 auto;
}

.details {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 auto;

}